#This code is just an example.You can create different functions for your module.
def calcuator():
    num1 = int(input('Enter the first number: '))
    num2 = int(input('Enter the second number: '))
    Operation = str(input('Enter the symbol for your desired operation: '))
    if Operation == "+":
        print(num1 = num2)
    elif Operation == "-":
        print(num1 - num2)
    elif Operation == "*":
        print(num1 * num2)
    elif Operation == "/":
        print(num1 / num2)
    else:
        print('Operation not found!')
def login():
    email = str(input('Enter your email: '))
    password = str(input('Enter your password: '))
    if email == "xample.gmail" and password == "xample123":
        print('You have successfully logged into your account!')
    else:
        print('The email or password is incorrect!')
